<!--
<div class="absolute-center-vertical">
	<a href="{{prevWork}}"><i class="fa fa-chevron-left fa-2x"></i></a>
	<a href="{{nextWork}}"><i class="fa fa-chevron-right fa-2x"></i></a>
</div>
-->
<div class="page-wrap">
	<nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container" style="position:relative;">
		  	<div class="absolute-center-vertical" style="right: 0;">
		  		<a href="/" class="pull-right"><h1 class="no-margin">&times;</h1></a>
		  	</div>
		  	<h3 class="text-center text-dots page-title">{{workId}} This is the title just to test lala test again</h3>
		</div>
	</nav>
	<div class="page-body">
		<div class="absolute-center-vertical">
			<a href="{{prevWork}}"><i class="fa fa-chevron-left fa-2x"></i></a>
			<a href="{{nextWork}}"><i class="fa fa-chevron-right fa-2x"></i></a>
		</div>
		<ng-include src="'/views/partials/' + workId + '.html'"></ng-include>
	</div>
</div>