<div class="container text-center" style="position:relative;">
  <div class="contact-group">
    <a href="mailto:katikuo.design@gmail.com" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/katikuo" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </div>
  <div class="intro-wrap width-box center-block">
    <h1>Hello, My name is Kati Kuo.</h1>
    <h3>I am a graphic/ui designer. I focus on bringing intuitive, responsive and user-friendly experiences on mobile, web and desktop.</h3>
  </div>
</div>

<div class="container">
  <div class="flex-box">
    <div class="thumb-wrap" ng-repeat="thumb in thumbs">
      <a href="{{thumb.id}}" class="thumb-box">
        <img ng-src="{{thumb.imageUrl}}" class="img-responsive">
      </a>
    </div>
  </div>
</div>

<footer class="footer text-center">
  <div class="container">
    <h1>I’d love to hear from you!</h1>
    <h3>For any opportunities or just want to say hi:</h3>
    <div class="general-pad hidden-xxs"></div>
    <div class="general-pad" style="padding-bottom:0;">
      <h5>
        <a href="mailto:katikuo.design@gmail.com" target="_blank">
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x" style="color:#948873;"></i><i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
          </span> katikuo.design@gmail.com
        </a>
      </h5>
    </div>
    <div class="general-pad">
      <h5>
        <a href="https://www.linkedin.com/in/katikuo" target="_blank">
          <span class="fa-stack fa-sm">
            <i class="fa fa-circle fa-stack-2x" style="color:#647882;"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span> linked in with me
        </a>
      </h5>
    </div>
    <hr class="divider">
    <div class="general-pad">
      <p>2016 @ Vancouver BC</p>
    </div>
  </div>
</footer>